body{
background-color:black;
color:white;
background-image:https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjSiIP7rYnUAhXCTSYKHbfNAY4QjRwIBw&url=http%3A%2F%2Fwww.pinsdaddy.com%2Fsuper-fat-pikachu_xn%257Cbe1vNP4owzpJylAdSRh5xF8XuykpCYj*NIB29UpM%2F&psig=AFQjCNEYMecCcyhGQg8UpCtNVm8mgKq29g&ust=1495743762011016
}

